<div class="row">
    <div class="col-md-12">
         <h1>Conexões realizadas</h1>
    </div>
</div>
<div class="row">
    <hr>
    <div class="col-md-12">    
        <form class="form-inline" method="post" action="{{URL_BASE}}">
          <input type="hidden" name="module" value="insert_conection">
          <input type="hidden" name="user_id" value="{{session_id}}">
          <div class="form-group">
            <label for="email">IP:</label>
            <input type="text" class="form-control" id="ip" name="ip" value="">
          </div>
          <div class="form-group">
            <label for="pwd">User:</label>
            <input type="text" class="form-control" id="user" name="user">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-info">Conectar</button>
        </form>
    </div>
</div>
    <hr>
<div class="row">
    <div class="col-sm-12">
<table id="datatable_default" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>IP</th>
                <th>Usuário</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>IP</th>
                <th>Usuário</th>
                <th>Menu</th>
            </tr>
        </tfoot>
        <tbody>
            {{table_content}}
        </tbody>
    </table>        
        </div>
</div>