{{message_auditing}}
<div class="row">
    <div class="col-md-12">
         <h1>Conexões realizadas</h1>
    </div>
</div>
<div class="row">
    <hr>
    <div class="col-md-12">    
        <form class="form-inline" method="post" action="{{URL_BASE}}"  enctype="multipart/form-data">
          <input type="hidden" name="module" value="upload_file_action">
          <input type="hidden" name="user_id" value="{{session_id}}">
          <div class="form-group">
            <label for="email">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required="">
          </div>
          <div class="form-group">
            <label for="pwd">Arquivo:</label>
            <input type="file" class="form-control " id="file" name="file" required="">
          </div>
          <button type="submit" class="btn btn-info">Upload File</button>
        </form>
    </div>
</div>
    <hr>
<div class="row">
    <div class="col-sm-12">
<table id="datatable_default" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>Modificado em</th>
                <th>Criado em</th>
                <th>Acessado em</th>
                <th>Auditado em:</th>
                <th>status</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>Modificado em</th>
                <th>Criado em</th>
                <th>Acessado em</th>
                <th>Auditado em:</th>
                <th>status</th>
                <th>Menu</th>
            </tr>
        </tfoot>
        <tbody>
            {{table_content}}
        </tbody>
    </table>        
        </div>
</div>